body {
  background-color:aqua;
}
p {
  
}
h2 {
  font-weight: lighter;
  font-family: fantasy;
  text-align: center;
}
img {
  height:50%;
  width:40%;

}

color{
color: rgb(148,64,252)
font-family=cursive
}